.confirmados {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.item {
    display: flex;
    margin: 5px;
    height: 45px;
    background-color: aliceblue;
    border-left: 4px solid blue;
    border-radius: 7px;
    box-shadow: 1px 1px 5px .5px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.item p {
    margin-left: 5px;
}

.btn-abrir-modal {
    border-radius: 50%;
    border: none;
    background-color: blue;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 30px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}


/* Modal */

.container-modal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px .5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: relative;
}

.header-modal {
    display: flex;
    justify-content: space-between;
}